h1{
    color:azure ;
    font-size:xx-large ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ; 
    text-align:center  ;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color:azure ;
    font-size: ;
    text-align:  ;
}

body{
    background:#afb4ad ;
    p2{
        font-family:cursive;
        font-size: 15pt;
        color:#fefffd;
        text-align: center;
    }
    
    h2{
        color: #FB7AFF;
        font-size: 30pt;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
        text-align: center;
    }
       
    * {
        /* Change the 1 to a 0 to hide the light blue guides */
        outline: 0px solid lightblue !important;
    }
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    /* End of responsive flow code */
    
    .callout-item {
        /* This will style the entire item box */
        margin-bottom: 20px;
        background-color:rgb(125, 129, 117);
    }
    
    .callout-title {
        /* This will style the title of the item box */
        color:rgb(250, 246, 246);
        font-size:x-large ;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .callout-poster{
        /* This will style the image inside the item box */
        max-width: 300px;
    }
    
    .callout-description{
        /* This will style the right-hand-side of the item box */
        padding: 10px;
    }







}

    
/* This code will make your items flow responsively */

.callout-item {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.callout-info{
    
    display: flex;
    margin: auto;
    position: relative;

}
   