h1{
    color:rgb(212, 121, 152) ;
    font-size:35px ;
    font-family:fantasy  ; 
    text-align:center  ;
}

p{
    font-family:fantasy ;
    color:rgb(218, 125, 156) ;
    font-size:medium ;
    text-align:center  ;
}

body{
    background:lightpink ;
}

    
/* This code will make your items flow responsively */

.callout-item {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.callout-info{
    
    display: flex;
    margin: auto;
    position: relative;

}
p2{
    font-family:cursive;
    font-size: 15pt;
    color:rgb(212, 121, 152);
    text-align: center;
}

h2{
    color: #000000;
    font-size: 30pt;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
}
   
* {
    /* Change the 1 to a 0 to hide the light blue guides */
    outline: 0px solid rgb(220, 230, 233) !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* End of responsive flow code */

.callout-item {
    /* This will style the entire item box */
    margin-bottom: 20px;
    background-color:#eeb8f0;
}

.callout-title {
    /* This will style the title of the item box */
    color:black;
}

.callout-poster{
    /* This will style the image inside the item box */
    max-width: 300px;
}

.callout-description{
    /* This will style the right-hand-side of the item box */
    padding: 10px;
}