h1{
    color: ;
    font-size:70px ;
    font-family:cursive  ; 
    text-align:center  ;
    font-display:initial ;
    
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font: bold
    color: ;
    font-size:medium ;
    text-align:center  ;

    
}

body{
    background:black ;
}


p2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;
    color: rgb(201, 115, 168);
    text-align: center;
}

h2{
    color: rgb(201, 115, 168);
    font-size: 30pt;
    font-family:cursive ;
    text-align: center;
}
   
* {
    /* Change the 1 to a 0 to hide the light blue guides */
    outline: 0px solid lightblue !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* End of responsive flow code */

.callout-item {
    /* This will style the entire item box */
    margin-bottom: 20px;
    background-color:#000000;
}

.callout-title {
    /* This will style the title of the item box */
    color:rgb(201, 115, 168)
}

.callout-poster{
    /* This will style the image inside the item box */
    max-width: 300px;
}

.callout-description{
    /* This will style the right-hand-side of the item box */
    padding: 10px;
}
    
/* This code will make your items flow responsively */

.callout-item {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.callout-info{
    
    display: flex;
    margin: auto;
    position: relative;

}