h1{
    color:rgb(236, 196, 223) ;
    font: size 40px; ;
    font-family:Georgia, 'Times New Roman', Times, serif ; 
    text-align:center  ;
}

p{
    font-family: ;
    color:rgb(56, 27, 49) ;
    font: size 20px; ;
    text-align:center  ;
}

body{
    background:rgb(253, 249, 252) ;
}

    
/* This code will make your items flow responsively */

.callout-item {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.callout-info{
    
    display: flex;
    margin: auto;
    position: relative;

}


p2{
    font-family: ;
    font-size: 15pt;
    color: rgb(56, 27,49);
    text-align: center;
}

h2{
    color: rgb(221, 180, 209);
    font-size: 30pt;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
}
   
* {
    /* Change the 1 to a 0 to hide the light blue guides */
    outline: 0px solid lightblue !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* End of responsive flow code */

.callout-item {
    /* This will style the entire item box */
    margin-bottom: 20px;
    background-color:rgb(253, 249, 252);
}

.callout-title {
    /* This will style the title of the item box */
    color:rgb(236, 196, 223);
}

.callout-poster{
    /* This will style the image inside the item box */
    max-width: 250px;
}

.callout-description{
    /* This will style the right-hand-side of the item box */
    padding: 10px;
}
